
/* START GENERAL SET */
*{
    font-family: var(--general-font);
    box-sizing: border-box;
  }
  p, h1, h2, h3, h4, h5{
    margin: 0;
  }
  :root{
    --general-font: 'Montserrat', sans-serif;
    --color-main:rgb(14,103,107);    
    --secondary-color: rgb(14, 93, 100);
    --extra-color:  rgb(252,105,63);
    --button-color:rgb(28,201,182)
  } 
  /* Stile regolare (400) */
  .regular-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Stile bold italic (700) */
  .fw-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /* END GENERAL SET */
  
/* FOOTER SECTION */
.only-for-position-relative {
  position: relative;
}
.footer-container{
  height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 650px));
    grid-auto-rows: 200px;
    gap: 10px;
    justify-content: center;
    font-family: var(--general-font);
  }

  .footer-logo{
    width: 180px;
    height: 150px;
    background-image: url(../media/Logo-original.png);
    background-position: center;
    background-size: cover;
  }

  .footer-grid-right{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }

  .col-dx li{
    display: flex;
  }
  .col-dx p{
    display: flex;
    margin-left: 2%;
  }
  .footer-title{
    font-size: 1em;
    color: var(--extra-color);

  }
  .p-text-to-left{
    text-align: left;
    }
.footer-copyright{
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: aliceblue;
}
.info-footer{
  font-size: 0.7em;
  list-style-type: none;
  padding: 1em;


}
@media screen and (max-width: 625px){
  .footer-container{
    grid-template-columns: repeat(auto-fill, minmax(auto, 650px));
    grid-auto-rows: auto;
  }
  .footer-logo{
    width: 160px;
    height: 110px;
  }
  .footer-right{
    background-color: aquamarine;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 8px;
background: #ffffff;
box-shadow:  0px -10px 10px var(--color-main),
             -0px 0px 3px #ffffff;
  }
  .info-footer{
    font-size: 0.6em;
  }
.p-text-to-left{
  text-align: left;
  font-size: 0.7em;
  }
  .footer-title{
    font-size: 0.7em;
    padding-left: 3%;
    padding-top: 5%;
  }
}